
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body{
  background-color: #151922;
}

ul li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

/* utilities */
.height1{
  height: 90px;
}

/* interezza della pagina */
.totale{
  height: 100vh;
}

/* primo flex */
.flex{
  display: flex;
  height: calc(100vh - 90px);
}

/* tendina laterale sinistra */
.tendina{
  background-color: #000000;
  color: #5c5c5c;
  width: 55px;
}

/* logo */
.tendina .logo{
  width: 30px;
  height: 30px;
  margin: 12px 12px 24px;
}

/* menu */
.tendina ul li {
  padding: 0 12px;
  margin-bottom: 10px;
}

/* metodo per modificare svg al colore desiderato con i filtri */
.tendina ul li img{
  filter: invert(33%) sepia(16%) saturate(5%) hue-rotate(23deg) brightness(96%) contrast(83%);
}

.home{
  border-left: 2px solid #baf066;
}

.greenhover:hover{
  border-left: 2px solid #baf066;
}

/* playlist */
.playlist{
  display: none;
}

/* login */



/* main */
.corpo{
  width: 100%;
}
header{
  background-color: #10151b;
  width: 100%;
}

/* footer */
footer{
  background-color: #282828;
}


/* modalità tablet */

/* modalità desktop */
@media screen and (min-width: 768px) {
  .height1{
    height: 170px;
  }
  .flex{
    height: calc(100vh - 170px);
  }
    
}