
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body{
  background-color: #151922;
}
/* utilities */
.height1{
  height: 90px;
}
.totale{
  height: 100vh;
}

.flex{
  display: flex;
  height: calc(100vh - 90px);
}

.tendina{
  background-color: #000000;
  color: #5c5c5c;
}

.corpo{
  width: 100%;
}
header{
  background-color: #10151b;
  width: 100%;
}




footer{
  background-color: #282828;
}
/* modalità tablet */

/* modalità desktop */
@media screen and (min-width: 768px) {

    
}