/* common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
}

body {
  background-color: #151922;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

h2 {
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 1rem;
}

.menù a,
.login a {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* utilities */
.height1 {
  height: 90px;
}

.flex {
  display: flex;
}

.s-visibility {
  display: none;
}

/* altezza in relazione al footer */
.altezza {
  height: calc(100vh - 90px);
}

/* tendina laterale sinistra */
.tendina {
  background-color: #000000;
  color: #5c5c5c;
  width: 50px;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}

/* logo */
.tendina .logo {
  width: 30px;
  height: 30px;
  margin: 12px 12px 24px;
}

.logobig {
  display: none;
}

/* menù */
.tendina ul li,
.login>div {
  padding: 0 12px;
  margin-bottom: 10px;
}

/* tendina testo bianco in hover
 + nome utente sempre bianco */
.tendina .menù .s-visibility:hover,
.playlist div:hover,
.playlist ul li:hover,
.login .downloadapp span:hover,
.login div:last-child {
  color: #ffffff;
}

.playlist div:hover .square {
  background-color: #fff;
}

/* metodo per modificare svg
 al colore desiderato con i filtri */
.tendina ul li img {
  filter: invert(33%) sepia(16%) saturate(5%) hue-rotate(23deg) brightness(96%) contrast(83%);
}

/* home sempre verde */
.home {
  border-left: 2px solid #baf066;
}

/* ricerca e libreria verdi in hover */
.greenhover:hover {
  border-left: 2px solid #baf066;
}

/* playlist */
.playlist {
  display: none;
  padding-left: 15px;
  overflow: auto;
}

.square {
  background-color: #858585;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.tendina .playlist ul li {
  padding: 0;
}

.playlist .flex,
.playlist ul li {
  margin-bottom: 10px;
}

.playlist .flex .più {
  color: #000000;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}

.playlist .flex span {
  line-height: 30px;
  padding: 0 0 0 10px;
}

/* login */
.login {
  margin-top: auto;
}

.login .downloadapp img {
  transform: scaleX(-1);
}

.cerchioprofilo img {
  background-color: #6c6c6c;
  border-radius: 20px;
  height: 30px;
  width: 30px;
}

.login hr {
  width: 90%;
  border: 1px solid #9a9a9a;
  margin: 0 5% 10px;
}

/* corpo centrale */
.corpo {
  color: #ffffff;
  overflow: auto;
  flex-grow: 1;
}

/* header */
header {
  background-color: #00000080;
  width: 100%;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

header div {
  margin-right: 20px;
  width: 210px;
  justify-content: center;
}

button {
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #00000000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 40px;
}

button:hover {
  font-size: 0.9rem;
  cursor: pointer;
}

/* nav */
nav {
  text-transform: uppercase;
  margin-top: 90px;
}

nav ul {
  width: 100%;
  font-size: 3vw;
  font-weight: 700;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
  padding: 1vw 0 2vw;
}

nav ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li a {
  opacity: 0.5;
}

nav ul li a:hover {
  opacity: 1;
}

.greenline {
  width: 25px;
  height: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: #baf066;
}

.greenlinehov {
  width: 30px;
  border-bottom: 2px solid #baf066;
  opacity: 0;
}

nav ul li:hover .greenlinehov {
  opacity: 1;
}


/* main */
.padding {
  padding: 20px;
}

h3 {
  margin-bottom: 20px;
}

.recente.flex {
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.recente.flex div {
  width: calc(100% / 2 - 20px)
}

.recente.flex .musichov {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.recente.flex img {
  width: 100%;
}

.recente.flex div:hover img {
  opacity: .5;
}

.recente.flex i {
  font-size: 2.5rem;
}

.recente.flex .playhov {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}

.recente.flex div:hover .playhov {
  display: flex;
}

h4,
h5 {
  font-size: .7rem;
}

h4 {
  padding-bottom: 10px;
}

h5 {
  opacity: .5;
  padding-bottom: 20px;
}

.round-form {
  border-radius: 100%;
}

/* footer */
footer {
  background-color: #282828;
  align-items: baseline;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
  font-size: .6rem;
}

footer p {
  font-size: .7rem;
  font-weight: 700;
}

footer>div {
  width: calc(100% / 3 - 2vw);
}

.song,
.sound,
.control {
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.song,
.sound {
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 300px;
}

.song {
  padding-right: 4%;
}

.invisibility-xxs {
  display: none;
}

.song span,
.iconesovrapposte {
  color: #878787;
  font-weight: 600;
  font-size: .8rem;
}

.song span:hover {
  text-decoration: underline;
  color: #fff;
}

footer .song img {
  max-width: 60%;
  max-height: 100%;
}

.iconesovrapposte,
.control {
  flex-direction: column;
}

.iconesovrapposte a i:hover {
  color: #fff;
}

.up,
.down {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.up {
  height: 30%;
  font-size: 1rem;
}

.playbutton.flex {
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}

.up .fa-circle-play {
  font-size: 1.4rem;
}

.up .fa-circle-play:hover {
  font-size: 160%;
}

.up *:hover {
  cursor: pointer;
}

.soundbar,
.soundbarlight {
  width: 70%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 4px;
}

.soundbarlight {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 20%;
  background-color: #aaa7a7;
}

.point-w {
  width: 10px;
  height: 10px;
  border-radius: 20px;
  background-color: #fff;
  display: none;
}

.soundbar:hover {
  cursor: pointer;
}

.soundbar:hover .soundbarlight {
  background-color: #baf066;
}

.soundbar:hover .point-w {
  display: block;
}

/*********** modalità xxs *************/
@media screen and (min-width: 375px) {
  .invisibility-xxs {
    display: inline;
  }

  footer .song img {
    max-width: 30%;
  }
}

/*********** modalità s *************/
@media screen and (min-width: 576px) {

  /* tendina */
  .tendina {
    width: 230px;
  }

  /* logo */
  .tendina .logo {
    width: 130px;
    height: auto;
  }

  .logobig {
    display: block
  }

  .logosmall {
    display: none;
  }

  /* menù */
  .menù {
    margin-bottom: 40px;
  }

  .s-visibility {
    display: inline-block;
    text-align: center;
  }

  .tendina .menù .s-visibility {
    color: #999999;
  }

  .menù li a img,
  .login div a img {
    width: 30px;
    height: 30px;
  }

  /* playlist menu laterale */
  .playlist {
    display: block
  }

  /* login */
  div.cerchioprofilo {
    display: inline-block;
  }

  nav ul {
    font-size: 1.5vw;
  }
}

/*********** modalità md *************/
@media screen and (min-width: 768px) {
  .recente.flex {
    justify-content: flex-start;
  }

  .recente.flex div {
    width: calc(100% / 4 - 20px);
  }

  footer {
    font-size: .8rem;
    gap: 60px;
  }

  footer p {
    font-size: 1rem;
  }

  .up {
    font-size: 1.4rem;
    justify-content: space-around;
    padding: 0 15%;
  }

  .up .fa-circle-play {
    font-size: 1.8rem;
  }

  footer .iconesovrapposte {
    flex-direction: row;
    gap: 20px;
    font-size: 1.2rem;
  }
}

/*********** modalità lg (desktop) ***********/
@media screen and (min-width: 992px) {

  .recente.flex div {
    width: calc(100% / 6 - 20px);
  }

  nav ul {
    font-size: 1vw;
  }

  .up {
    padding: 0 25%;
  }

  .soundbar{
  width: 80%;
}

}